<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 他妈的，写../static/css/居然不行？有毛病？ -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js/" type="application/javascript"></script>
</head>
<body>
<!--    <header th:replace="Layout/header :: header"></header>-->

    <div th:insert="Layout/navgation :: nav"></div>


    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 发现</h2>
                <hr>
                <div class="media" th:each="question : ${pagination.questionDTOList}">
                    <div class="media-left">
                        <a href="#">
                            <img class="user-avatar img-rounded"
                                 th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span th:text="${question.description}"></span>
                        <br>
                        <span class="text-small">
                            <span th:text="${question.commentCount}"></span>回复 -
                            <span th:text="${question.viewCount}"></span>次浏览 -
                            <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstButton}">
                            <a href="/?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPreviousButton}">
                            <a th:href="@{/(page=${pagination.currentPage-1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page : ${pagination.surroundingPages}" th:class="${page == pagination.currentPage}? 'active' : ''" >
                            <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                        </li>

                        <li th:if="${pagination.showNextButton}">
                            <a th:href="@{/(page=${pagination.currentPage+1})}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li href="#" th:if="${pagination.showEndButton}">
                            <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>话题</h3>
                巴拉巴拉<br>
                巴拉巴拉<br>
                巴拉巴拉<br>
            </div>
        </div>
    </div>
<!--    <footer th:replace="Layout/footer :: footer"></footer>-->
</body>
</html>