<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 他妈的，写../static/css/居然不行？有毛病？ -->
    <!-- 必须在最前面加上/，不加的话默认是从与当前url同级别下找css文件(css目录在第一层)-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js/" type="application/javascript"></script>
    <script src="/js/community.js/" type="application/javascript"></script>

    <!--富文本：在github中下载源码，目标文件放进static目录里    -->
    <link rel="stylesheet" href="/css/editormd.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/editormd.min.js"></script>
</head>

<body>
<!--    <header th:replace="Layout/header :: header"></header>-->
    <div th:insert="Layout/navgation :: nav"></div>

    <!-- 发布页面分两大块，左边是主要的编辑页面占9，右边是guiding页面占3 -->
    <!--        这里的col-lg针对电脑大屏幕，col-md和col-sm针对小屏幕，12表示这两个分别占一页，等同于排不下竖着排了-->
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>

                <hr/>

                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">问题标题(简明扼要): </label>
                        <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...">
                    </div>

                    <div class="form-group">
                        <label for="description">问题补充(必填，参照右侧提示): </label>
                        <div id="editor">
                            <textarea class="form-control" th:text="${description}" cols="30" rows="20" id="description" name="description"
                                      placeholder="这个是textarea标签，才能设置cols和rows，即长和宽，不是input form"></textarea>
                        </div>

                    </div>
                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("editor", {
                                width: "100%",
                                height: 350,
                                imageUpload          : true,          // Enable/disable upload
                                imageFormats         : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL       : "/file/load",             // Upload url,
                                // markdown: "xxxx",     // dynamic set Markdown text
                                path : "/js/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
                            });
                        });
                    </script>

                    <div class="form-group">
                        <label for="tag">添加标签: </label>
                        <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以,分隔">
                        <div>
                            <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Spring')">Spring</span> </span>
                            <span class="label label-info"><span class="glyphicon glyphicon-tags" onclick="selectTag('Java')">Java</span> </span>
                        </div>
                    </div>

                    <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
                    <button type="submit" class="btn btn-success btn-publish">发布</button>
                </form>

            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                标题巴拉巴拉<br>
                补充巴拉巴拉<br>
                标签巴拉巴拉<br>
            </div>
        </div>
    </div>

<!--    <footer th:replace="Layout/footer :: footer"></footer>-->
</body>
</html>